body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('./assets/field.jpg.jpg');
  background-size: cover;
  background-position: center;
}

.app-container {
  position: relative;
  z-index: 1;
  padding: 20px;
  border-radius: 8px;
}


h1 {
  margin-bottom: 20px;
  text-align: center;

}

